<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  {% liquid
    assign use_section_groups = true

    if template.suffix == 'tiktok-landing'
      assign use_section_groups = false
    endif
  %}

  <head>
    {% render 'theme-head' %}
    {{ content_for_header }}
  </head>

  <body class="template-{{ template.name }}{% if template.suffix %} template-{{ template.name }}-{{ template.suffix }}{% endif %}{% if template.suffix == 'tiktok-landing' %} tiktok-landing-page{% endif %}">
    {% if use_section_groups %}
      {% sections 'header-group' %}
    {% endif %}

    {{ content_for_layout }}

    {% if use_section_groups %}
      {% comment %} {% sections 'footer-group' %} {% endcomment %}
    {% endif %}
  </body>
</html>
